/* The switch - the box around the slider */
body {
    background-color: #263238;
}
.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 62px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: '\01F436';
    /*content: "♥";*/
    /*color: #69f0ae;*/
    text-align: center;
    line-height: 52px;
    font-size: 2rem;
    height: 52px;
    width: 52px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(58px);
    -ms-transform: translateX(58px);
    transform: translateX(58px);
    content: '\01F60E';
}

/* Rounded sliders */
.slider.round {
    border-radius: 68px;
}

.slider.round:before {
    border-radius: 50%;
}

.container {
    width: 200px;
    height: 100px;
    margin: 50px auto;
    text-align: center;
    /*background-color: #346ff1;*/
}
