body {
    margin 10px;
}

.product__item {
    width: 280px;
    height: 520px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0px 0px 10px #aaaaaa;
}

.product__item-image {
    width: 100%;
}

.product__item-caption {
    min-height: 36px;
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #dddddd;

}

.product__item-price {
    min-height: 36px;
    display: block;
    vertical-align: bottom;
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: 1px solid #dddddd;
}

.product__item-ingredients {
    display: block;
    padding: 10px 20px;
}



