.product__item {
    width: 320px;
    display: inline-block;
    margin: 10px 20px;
}

.product__item-image {
    width: 100%;
}

.product__item-ingredients {
    display: block;
}

.product__item-price {
    display: block;
    font-weight: bold;
}

/*.class {*/
    /**/
/*}*/